.li1 {
    color: coral;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}

.active a {
    color: rgb(255, 130, 130) !important;
}

.form {
    border: 0cm;
    margin: 40px auto;
    width: 60%;
    border-color: black 2px;
    background-color: #212838;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;

}

.form1 {
    margin-left: 20px;
    margin-top: 20px;
    color: white;
}

.input {
    width: 25%;

    padding: 12px 20px;
    margin: 8px 0;
    color: black;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.c1 {
    color: black;
    margin-left: 150px;
    width: 15%;
    padding: 4px 4px;
    box-sizing: border-box;
    text-align: center;
}

.textarea {
    width: 100%;
    height: 150px;
    color: black;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.submit {
    text-align: center;
    background-color: rgb(255, 130, 130);
    box-shadow: 2px 2px 2px rgb(8, 8, 8);
    color: white;
    border: none;
    padding: 8px 24px;
    text-decoration: none;
    margin: 4px 300px;
    border-radius: 25px;
    cursor: pointer;
}

.submit:hover:before {
    transform: scale(1.1);
}

.submit:hover {
    background-color: rgb(255, 145, 145);
}

@media screen and (max-width: 600px) {

    .form {
        margin-left:90px;
        width:400px;
        }
    
    
    }
    .form1 {
            margin-left: 20px;
            margin-top: 20px;
            color: white;
    }
    
    .input{
        width:200px;
        padding: 8px 20px;
    }
    .c1 {
            color: black;
            margin-left: 5px;
            width: 150px;
            padding: 4px 10px;
            box-sizing: border-box;
            text-align: center
        }
    
      .submit {
    
        margin-top: 10px;
        margin-left:-2px;
    
      }